In [1]:
import pandas as pd
import numpy as np

In [14]:
filmes = pd.read_csv('./movies.csv')

In [15]:
filmes.columns = filmes.columns.str.replace(' ', '_')

In [16]:
filmes.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [17]:
# Até aqui apenas lemos o arquivo e renomiei a coluna para retirar os espaços usando a função para strings 'replace()'

In [26]:
# Ordenando por título
filmes.title.sort_values().head()

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
Name: title, dtype: object

In [27]:
# O método sort_values() retorna uma série.
A = filmes.title.sort_values().head()
type(A)

pandas.core.series.Series

In [36]:
# Ordem reversa
Z = filmes.title.sort_values(ascending=False).head()
Z.head(2)

864    [Rec]
526     Zulu
Name: title, dtype: object

In [35]:
# Retornar o dataframe inteiro.
filmes.sort_values('title').head(2)

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."

In [34]:
# Retornar o dataframe inteiro na forma Decrescente.
filmes.sort_values('title', ascending=False).head(2)

,star_rating,title,content_rating,genre,duration,actors_list
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."

In [38]:
# O sort_values() não altera o dataframe original.
filmes.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [42]:
# Ordenar por mais de uma coluna, basta passar uma lista de colunas.
filmes.sort_values(['genre', 'duration']).head(3)

,star_rating,title,content_rating,genre,duration,actors_list
533,7.8,Run Lola Run,R,Action,80,"[u'Franka Potente', u'Moritz Bleibtreu', u'Her..."
633,7.7,The Warriors,R,Action,92,"[u'Michael Beck', u'James Remar', u'Dorsey Wri..."
455,7.9,Taken,PG-13,Action,93,"[u'Liam Neeson', u'Maggie Grace', u'Famke Jans..."

In [45]:
# Filtrar por filmes com mais de 180 minutos de duração.
boolean = []

for item in filmes.duration:
    if item >= 180:
        boolean.append(True)
    else:
        boolean.append(False)

In [46]:
boolean[:5]   # Imprimndo apenas os 5 primos itens.

[False, False, True, False, False]

In [47]:
# Converter a lista em Series
duracao = pd.Series(boolean)

In [48]:
type(duracao)

pandas.core.series.Series

In [49]:
duracao.head(3)

0    False
1    False
2     True
dtype: bool

In [51]:
# Podemos usar a noteção de colchetes para indexar ou apenas para aplicar filtros de uma serie de booleanos.
print(filmes['title'][:2])

0    The Shawshank Redemption
1               The Godfather
Name: title, dtype: object

In [52]:
# Aqui ele pega a Serie(lista) e traz somente os itens onde a Serie é True:
filmes[duracao]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
132,8.3,Judgment at Nuremberg,NOT RATED,Drama,186,"[u'Spencer Tracy', u'Burt Lancaster', u'Richar..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
143,8.2,The Wolf of Wall Street,R,Biography,180,"[u'Leonardo DiCaprio', u'Jonah Hill', u'Margot..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
166,8.2,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u'Christopher Walken', u'J..."
184,8.2,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pernilla Allwin', u'Kristin..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
220,8.1,Gandhi,PG,Biography,191,"[u'Ben Kingsley', u'John Gielgud', u'Candice B..."
245,8.1,Barry Lyndon,PG,Adventure,184,"[u""Ryan O'Neal"", u'Marisa Berenson', u'Patrick..."
316,8.0,JFK,R,Drama,189,"[u'Kevin Costner', u'Gary Oldman', u'Jack Lemm..."
318,8.0,Magnolia,R,Drama,188,"[u'Tom Cruise', u'Jason Robards', u'Julianne M..."
335,8.0,Doctor Zhivago,PG-13,Drama,197,"[u'Omar Sharif', u'Julie Christie', u'Geraldin..."
339,8.0,Dances with Wolves,PG-13,Adventure,181,"[u'Kevin Costner', u'Mary McDonnell', u'Graham..."
361,8.0,Fiddler on the Roof,G,Drama,181,"[u'Topol', u'Norma Crane', u'Leonard Frey']"
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ..."
424,7.9,The Right Stuff,R,Adventure,193,"[u'Sam Shepard', u'Scott Glenn', u'Ed Harris']"
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
611,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ..."
620,7.7,Titanic,PG-13,Drama,194,"[u'Leonardo DiCaprio', u'Kate Winslet', u'Bill..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
671,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [54]:
# Posso trazer também somente algumas colunas
filmes[duracao][['title','duration']]

                                             title  duration
2                           The Godfather: Part II       200
7    The Lord of the Rings: The Return of the King       201
8                                 Schindler's List       195
17                                   Seven Samurai       207
40                                  The Green Mile       189
78                     Once Upon a Time in America       229
85                              Lawrence of Arabia       216
89                                          Swades       189
93                     Dilwale Dulhania Le Jayenge       181
109                                 Dil Chahta Hai       183
132                          Judgment at Nuremberg       186
142              Lagaan: Once Upon a Time in India       224
143                        The Wolf of Wall Street       180
157                             Gone with the Wind       238
166                                The Deer Hunter       182
184                            Fanny and Alexander       188
204                                        Ben-Hur       212
220                                         Gandhi       191
245                                   Barry Lyndon       184
316                                            JFK       189
318                                       Magnolia       188
335                                 Doctor Zhivago       197
339                             Dances with Wolves       181
361                            Fiddler on the Roof       181
385                                      Spartacus       197
424                                The Right Stuff       193
445                           The Ten Commandments       220
476                                         Hamlet       242
611                                     Short Cuts       187
620                                        Titanic       194
630                                      Malcolm X       202
671                                     Grindhouse       191
767                It's a Mad, Mad, Mad, Mad World       205

In [ ]:
# Fazendo o mesmo de forma simplificada:
boolean = filmes.duration >= 180
filmes[boolean]

In [ ]:
# Fazer um filtro por gênero.
acao = filmes.genre == 'Action'
filmes[acao]

In [ ]:
# Escrevendo diretamente como 'List comprehension'
filmes[filme.genre == 'Action']

In [64]:
# Podemos também retornar outra série com a coluna que desejarmos.
genero_maior_180 = filmes[filmes.duration >= 180].genre

# Ou com notação de colchetes
# genero_maior_180 = filmes[filmes.duration >= 180].['genre']

In [ ]:
genero_maior_180

In [65]:
# Porém a boa prática é usando o método LOC, que acessa um grupo de linhas ou colunas através de uma label.
filmes.loc[filmes.duration >= 180, 'genre']

2          Crime
7      Adventure
8      Biography
17         Drama
40         Crime
78         Crime
85     Adventure
89         Drama
93        Comedy
109       Comedy
132        Drama
142    Adventure
143    Biography
157        Drama
166        Drama
184        Drama
204    Adventure
220    Biography
245    Adventure
316        Drama
318        Drama
335        Drama
339    Adventure
361        Drama
385       Action
424    Adventure
445    Adventure
476        Drama
611       Comedy
620        Drama
630    Biography
671       Action
767       Action
Name: genre, dtype: object